suzette_custom.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0"
  xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Suzette ODD</title>
        <author>Diane Jakacki</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the TEI Consortium
            (info@tei-c.org).</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <head>TEI Complete</head>
      <p>This TEI customization describes a schema that includes <emph>all</emph> of the TEI (P5)
        modules. This is a very useful starting place for manually creating your own customizations
        — it is much easier to delete the modules you do not want than to add the modules you do.
        Furthermore this customization often proves helpful for testing TEI software.</p>
      <p>However, this particular TEI customization is <emph>not recommended</emph> for actual use
        for encoding documents. It produces schemas and reference documentation that will be much
        larger, and include many more elements, than almost anyone could conceivably ever need.
        Tempting though it may be simply to have absolutely everything, and <q>just ignore</q>
        elements not required, experience has shown that their presence makes the documentation
        harder to read and use, and makes a schema that is far more lax than desired.</p>
      <schemaSpec ident="suzette_custom" start="TEI teiCorpus" targetLang="en" docLang="en">
        <moduleRef key="tei"/>
        <!-- required -->
        <moduleRef key="core"/>
        <!-- required -->
        <moduleRef key="analysis" except="c cl interp interpGrp m pc phr s w"/>
        <moduleRef key="certainty" except="precision"/>
        <moduleRef key="corpus"
          except="activity channel constitution derivation factuality preparedness purpose setting settingDesc"/>
        <moduleRef key="dictionaries"
          except="case colloc dictScrap entry entryFree etym gram gramGrp hom hyph iType mood number oRef orth pRef per pos pron re sense stress subc superEntry syll tns usg"/>
        <moduleRef key="drama" except="actor camera castGroup castItem castList move set sound view"/>
        <moduleRef key="figures" except="formula notatedMusic"/>
        <moduleRef key="header"
          except="change handNote hyphenation normalization punctuation scriptNote seriesStmt"/>
        <!-- required -->
        <moduleRef key="linking"/>
        <moduleRef key="msdescription"/>
        <moduleRef key="namesdates"/>

        <moduleRef key="textcrit"
          except="lacunaEnd lacunaStart lem listWit rdg rdgGrp variantEncoding"/>
        <moduleRef key="textstructure" except="postscript trailer"/>
        <!-- required -->
        <moduleRef key="transcr"/>


        <moduleRef key="tagdocs"/>

        <elementSpec ident="div1" mode="change">
          <attList> 
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="chapter">
                  <desc versionDate="2020-05-06" xml:lang="en">Chapter</desc>
                </valItem>
                <valItem mode="add" ident="other">
                  <desc versionDate="2020-05-06" xml:lang="en">Other (if used often, add another
                    value)</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="div2" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="student_edition">
                  <desc versionDate="2020-05-06" xml:lang="en">Student Edition</desc>
                </valItem>
                <valItem mode="add" ident="teacher_edition">
                  <desc versionDate="2020-05-06" xml:lang="en">Teacher Edition</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="div3" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="récit">
                  <desc versionDate="2020-05-06" xml:lang="en">Récit (student edition)</desc>
                </valItem>
                <valItem mode="add" ident="questionnaire">
                  <desc versionDate="2020-05-06" xml:lang="en">Questionnaire (teacher
                    edition)</desc>
                </valItem>
                <valItem mode="add" ident="sujets">
                  <desc versionDate="2020-05-06" xml:lang="en">Sujets</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="ana" mode="change">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="morale">
                  <desc versionDate="2020-05-06" xml:lang="fr">Morale</desc>
                </valItem>
                <valItem mode="add" ident="instruction_civique">
                  <desc versionDate="2020-05-06" xml:lang="fr">Instruction civique</desc>
                </valItem>
                <valItem mode="add" ident="civilité">
                  <desc versionDate="2020-05-06" xml:lang="fr">Civilité</desc>
                </valItem>
                <valItem mode="add" ident="français">
                  <desc versionDate="2020-05-06" xml:lang="fr">Français</desc>
                </valItem>
                <valItem mode="add" ident="composition">
                  <desc versionDate="2020-05-06" xml:lang="fr">Composition</desc>
                </valItem>
                <valItem mode="add" ident="histoire">
                  <desc versionDate="2020-05-06" xml:lang="fr">Histoire</desc>
                </valItem>
                <valItem mode="add" ident="géographie">
                  <desc versionDate="2020-05-06" xml:lang="fr">Géographie</desc>
                </valItem>
                <valItem mode="add" ident="sciences_naturelle">
                  <desc versionDate="2020-05-06" xml:lang="fr">Sciences naturelles</desc>
                </valItem>
                <valItem mode="add" ident="sciences_physiques">
                  <desc versionDate="2020-05-06" xml:lang="fr">Sciences Physiques</desc>
                </valItem>
                <valItem mode="add" ident="industrie">
                  <desc versionDate="2020-05-06" xml:lang="fr">Industrie</desc>
                </valItem>
                <valItem mode="add" ident="économie_domestique">
                  <desc versionDate="2020-05-06" xml:lang="fr">Économie Domestique</desc>
                </valItem>
                <valItem mode="add" ident="hygiène">
                  <desc versionDate="2020-05-06" xml:lang="fr">Hygiène</desc>
                </valItem>               
                <valItem ident="agriculture" mode="add">
                  <desc versionDate="2020-05-06" xml:lang="en">Agriculture</desc>
                </valItem>
                <valItem ident="other" mode="add">
                  <desc versionDate="2020-05-18" xml:lang="en">Other (exception - if used frequently, will add to list)</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="figure" mode="change">
          <attList> 
            <attDef ident="type" mode="change">
              <valList mode="change" type="closed">
                <valItem mode="add" ident="illustration">
                  <desc versionDate="2020-05-06" xml:lang="en">Illustration</desc>
                </valItem>
                <valItem mode="add" ident="sujets">
                  <desc versionDate="2020-05-06" xml:lang="en">Sujets</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="rs" mode="change">
          <attList>
            <attDef mode="change" ident="corresp">
              <valList mode="change" type="closed">
                <valItem mode="add" ident="morale">
                  <desc>Morale</desc>
                </valItem>
                <valItem mode="add" ident="enfant_famille">
                  <desc>L'enfant dans la famille</desc>
                </valItem>
                <valItem ident="fréres_soeurs" mode="add">
                  <desc>Devoirs des frères et soeurs</desc>
                </valItem>
                <valItem ident="envers_serviteur" mode="add">
                  <desc>Devoirs envers les serviteurs</desc>
                </valItem>
                <valItem ident="enfant_école" mode="add">
                  <desc>L'enfant dans l'école</desc>
                </valItem>
                <valItem ident="La patrie" mode="add">
                  <desc>La patrie</desc>
                </valItem>
                <valItem ident="envers_soi-même" mode="add">
                  <desc>Devoirs envers soi-même</desc>
                </valItem>
                <valItem ident="extérieurs" mode="add">
                  <desc>Les biens extérieurs</desc>
                </valItem>
                <valItem ident="âme" mode="add">
                  <desc>L'âme</desc>
                </valItem>
                <valItem ident="envers_semblables">
                <desc>Devoirs envers nos semblables</desc>
                </valItem>
                <valItem ident="envers_dieu" mode="add">
                  <desc>Devoirs envers Dieu</desc>
                </valItem>
                <valItem ident="instruction_civique" mode="add">
                  <desc>Instruction civique</desc>
                </valItem>
                <valItem ident="civilité" mode="add">
                  <desc>Civilité</desc>
                </valItem>
                <valItem ident="français" mode="add">
                  <desc>Français</desc>
                </valItem>
                <valItem mode="add" ident="composition"><!--Do I need this if it's above? -->
                  <desc>Composition</desc>
                </valItem>
                <valItem ident="récits" mode="add">
                  <desc>Récits</desc>
                </valItem>
                <valItem ident="récits_historiques" mode="add">
                  <desc>Récits historiques</desc>
                </valItem>
                <valItem ident="descriptions" mode="add">
                  <desc>Descriptions</desc>
                </valItem>
                <valItem ident="sujets-moraux_imagination" mode="add">
                  <desc>Sujets-moraux ou d'imagination</desc>
                </valItem>
                <valItem ident="lettres" mode="add">
                  <desc>Lettres</desc>
                </valItem>
                <valItem ident="histoire" mode="add">
                  <desc>Histoire</desc>
                </valItem>
                <valItem ident="géographie" mode="add">
                  <desc>Géographie</desc>
                </valItem>
                <valItem ident="europe" mode="add">
                  <desc>Europe</desc>
                </valItem>
                <valItem ident="asie" mode="add">
                  <desc>Asie</desc>
                </valItem>
                <valItem ident="afrique" mode="add">
                  <desc>Afrique</desc>
                </valItem>
                <valItem ident="amérique" mode="add">
                  <desc>Amérique</desc>
                </valItem>
                <valItem ident="océanie" mode="add">
                  <desc>Océanie</desc>
                </valItem>
                <valItem ident="france" mode="add">
                  <desc>France</desc>
                </valItem>
                <valItem ident="sciences_naturelles" mode="add">
                  <desc>Sciences Naturelles</desc>
                </valItem>
                <valItem ident="minéraux" mode="add">
                  <desc>Minéraux</desc>
                </valItem>
                <valItem ident="végétaux" mode="add">
                  <desc>Végétaux</desc>
                </valItem>
                <valItem ident="arbres_non_cultivés" mode="add">
                  <desc>1° Arbres Non Cultivés</desc>
                </valItem>
                <valItem ident="herbes_plantes_sauvages" mode="add">
                  <desc>2° Herbes ou Plantes Sauvages</desc>
                </valItem>
                <valItem ident="arbres_cultivés" mode="add">
                  <desc>3° Arbres Cultivés</desc>
                </valItem>
                <valItem ident="arbustes_cultivés" mode="add">
                  <desc>4° Arbustes Cultivés</desc>
                </valItem>
                <valItem ident="céréales" mode="add">
                  <desc>5° Céréales</desc>
                </valItem>
                <valItem ident="legumes_racines" mode="add">
                  <desc>6° Légumes, Racines, etc.</desc>
                </valItem>
                <valItem ident="divers_végétaux" mode="add">
                  <desc>7° Divers</desc>
                </valItem>
                <valItem ident="animaux">
                  <desc>Animaux</desc>
                </valItem>
                <valItem ident="sciences_physiques" mode="add">
                  <desc>Notions Relatives aux Sciences Physiques</desc>
                </valItem>
                <valItem ident="industrie">
                  <desc>Industrie</desc>
                </valItem>
                <valItem ident="matières_objets_fabriques" mode="add">
                  <desc>Matières et objets fabriqués</desc>
                </valItem>
                <valItem ident="construction">
                  <desc>Construction</desc>
                </valItem>
                <valItem ident="machines_appareils" mode="add">
                  <desc>Machines, appareils, ustensiles, vases</desc>
                </valItem>
                <valItem ident="outils">
                  <desc>Outils</desc>
                </valItem>
                <valItem ident="etoffes_habillement" mode="add">
                  <desc>Étoffes, habillement</desc>
                </valItem>
                <valItem ident="divers_industrie" mode="add">
                  <desc>Divers</desc>
                </valItem>
                <valItem ident="économie_domestique">
                  <desc>Économie Domestique</desc>
                </valItem>
                <valItem ident="aliments_cuisine">
                  <desc>Aliments et cuisine</desc>
                </valItem>
                <valItem ident="vêtements" mode="add">
                  <desc>Vêtements</desc>
                </valItem>
                <valItem ident="basse-cour" mode="add">
                  <desc>Basse-cour</desc>
                </valItem>
                <valItem ident="hygiène" mode="add">
                  <desc>Hygiène</desc>
                </valItem>
                <valItem ident="corps_habitations" mode="add">
                  <desc>Corps et habitations</desc>
                </valItem>
                <valItem ident="vêtements_hygiene" mode="add">
                  <desc>Vêtements</desc>
                </valItem>
                <valItem ident="aliments" mode="add">
                  <desc>Aliments</desc>
                </valItem>
                <valItem ident="maladies_remèdes" mode="add">
                  <desc>Maladies, etc.; remèdes</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
