suzette-NewCustom.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0"
  xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Suzette ODD</title>
        <author>Diane Jakacki</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the TEI Consortium
            (info@tei-c.org).</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="suzette_NewCustom" start="TEI teiCorpus" targetLang="en" docLang="en">
        <moduleRef key="tei"/>
        <!-- required -->
        <moduleRef key="core" />
        <moduleRef key="analysis" />
        <moduleRef key="certainty" />
        <moduleRef key="corpus" />
        <moduleRef key="dictionaries" />
        <moduleRef key="drama" />
        <moduleRef key="figures" />
        <moduleRef key="header" />
        <moduleRef key="linking"/>
        <moduleRef key="msdescription"/>
        <moduleRef key="namesdates"/>
        <moduleRef key="textcrit" />
        <moduleRef key="textstructure" />
        <moduleRef key="transcr"/>
        <moduleRef key="tagdocs"/>
        
        <!-- Customize DIV1 with @type chapitre -->
        <elementSpec ident="div1" mode="change">
          <attList> 
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="chapitre">
                  <desc versionDate="2020-05-06">Chapitre</desc>
                </valItem>
                <valItem mode="add" ident="autre">
                  <desc versionDate="2020-05-06">Autre (if used often, add another
                    value)</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <!-- Customize DIV2 to distinguish three kinds of content: Récit, Questionnaire, and Exercices -->        
        <elementSpec ident="div2" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="exercices" mode="add">
                  <desc versionDate="2020-06-06" xml:lang="fr">Exercices</desc>
                </valItem>
                <valItem mode="add" ident="questionnaire">
                  <desc versionDate="2020-06-06" xml:lang="fr">Questionnaire</desc>
                </valItem>
                <valItem mode="add" ident="récit">
                  <desc versionDate="2020-06-06" xml:lang="fr">Récit</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
 
<!-- Customize DIV3 to add key terms from Classification -->
        <elementSpec ident="div3" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="morale" mode="add"/>                
                <valItem ident="instruction_civique" mode="add"/>
                <valItem ident="civilité" mode="add"/>
                <valItem ident="français" mode="add"/>
                <valItem ident="composition" mode="add"/>
                <valItem ident="histoire" mode="add"/>
                <valItem ident="géographie" mode="add"/>
                <valItem ident="sciences_naturelles" mode="add"/>
                <valItem ident="sciences_physiques" mode="add"/>
                <valItem ident="industrie" mode="add"/>
                <valItem ident="économie_domestique" mode="add"/>
                <valItem ident="hygiène" mode="add"/>
                <valItem ident="agriculture" mode="add"/>
                <valItem ident="calcul" mode="add"/>
                <valItem ident="complexe" mode="add"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <!-- Within DIV4 cutomize @type to distinguish questions and réponses -->
        <elementSpec ident="div4" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="questions" mode="add">
                  <desc versionDate="2020-06-02" xml:lang="fr">Questions</desc>
                </valItem>
                <valItem ident="réponses" mode="add">
                  <desc versionDate="2020-06-02" xml:lang="fr">Réponses</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>

      	<!-- objectName: @key to distinguish among categorical information -->
  	<elementSpec ident="objectName" mode="change">
      		<attList>
      			<attDef ident="key" mode="change">
      				<valList mode="add" type="closed">
      					<valItem ident="économie_domestique" mode="add">
      						<desc>Économie Domestique</desc>
      					</valItem>
      					<valItem ident="industrie" mode="add">
      						<desc>Industrie</desc>
      					</valItem>
      					<valItem ident="sciences_naturelles" mode="add">
      						<desc>Sciences Naturelles</desc>
      					</valItem>
      					<valItem ident="sciences_physiques" mode="add">
      						<desc>Notions Relatives aux Sciences Physiques</desc>
      					</valItem>
      				</valList>
      			</attDef>
      		</attList>
  	</elementSpec>

      	<!-- objectName: @type to distinguish among categorical information -->
      	<elementSpec ident="objectName" mode="change">
      		<attList>
      			<attDef ident="type" mode="change">
      				<valList mode="add" type="closed">
      					<valItem ident="animaux" mode="add">
      						<desc>Animaux</desc>
      					</valItem>
      					<valItem ident="constructions">
      						<desc>Constructions</desc>
      					</valItem>
      					<valItem ident="minéraux" mode="add">
      						<desc>Minéraux</desc>
      					</valItem>
      					<valItem ident="végétaux" mode="add">
      						<desc>Végétaux</desc>
      					</valItem>
      					<valItem ident="matières_objets_fabriques" mode="add">
      						<desc>Matières et objets fabriqués</desc>
      					</valItem>
      					<valItem ident="machines_appareils" mode="add">
      						<desc>Machines, appareils, ustensiles, vases</desc>
      					</valItem>
      					<valItem ident="outils" mode="add">
      						<desc>Outils</desc>
      					</valItem>
      					<valItem ident="etoffes_habillement" mode="add">
      						<desc>Étoffes, habillement</desc>
      					</valItem>
      					<valItem ident="divers_industrie" mode="add">
      						<desc>Divers (Industrie)</desc>
      					</valItem>
      				</valList>
      			</attDef>
      		</attList>
      	</elementSpec>

      	<!-- objectName: @subtype to distinguish among categorical information -->
      	<elementSpec ident="objectName" mode="change">
      		<attList>
      			<attDef ident="subtype" mode="change">
      				<valList mode="add" type="closed">
      					<valItem ident="arbres_non_cultivés" mode="add">
      						<desc>1° Arbres Non Cultivés</desc>
      					</valItem>
      					<valItem ident="herbes_plantes_sauvages" mode="add">
      					<desc>2° Herbes ou Plantes Sauvages</desc>
      				</valItem>
      				<valItem ident="arbres_cultivés" mode="add">
      					<desc>3° Arbres Cultivés</desc>
      				</valItem>
      				<valItem ident="arbustes_cultivés" mode="add">
      					<desc>4° Arbustes Cultivés</desc>
      				</valItem>
      				<valItem ident="céréales" mode="add">
      					<desc>5° Céréales</desc>
      				</valItem>
      				<valItem ident="legumes_racines" mode="add">
      					<desc>6° Légumes, Racines, etc.</desc>
      				</valItem>
      				<valItem ident="divers_végétaux" mode="add">
      					<desc>7° Divers (Vegetaux)</desc>
      				</valItem>
      					<valItem ident="homme" mode="add">
      						<desc>1° L'Homme</desc>
      					</valItem>      					
      				<valItem ident="animaux_domestiques" mode="add">
      					<desc>2° Animaux Domestiques</desc>
      				</valItem>
      				<valItem ident="animaux_sauvages" mode="add">
      					<desc>3° Animaux Sauvages</desc>
      				</valItem>
      				</valList>
      			</attDef>
      		</attList>
      	</elementSpec>

      	
<!-- persName: add  @type and @key (for character list)-->
      	<elementSpec ident="persName" mode="change">
      		<attList>
      			<attDef ident="type" mode="change">
      				<valList type="closed" mode="change">
      					<valItem ident="historique" mode="add">
      						<desc xml:lang="fr">historique</desc>
      					</valItem>
      					<valItem ident="fictif" mode="add">
      						<desc xml:lang="fr">fictif</desc>
      					</valItem>
      				</valList>
      			</attDef>
      			<attDef ident="key" mode="change">
      				<valList type="closed" mode="change">
      					<valItem ident="suzette" mode="add">
      						<desc>Suzette</desc>
      					</valItem>
      					<valItem ident="mme_valon" mode="add">
      						<desc>Mme Valon</desc>
      					</valItem>
      					<valItem ident="m_valon" mode="add">
      						<desc>M Valon</desc>
      					</valItem>
      					<valItem ident="jacques" mode="add">
      						<desc>Jacques</desc>
      					</valItem>
      					<valItem ident="charlot" mode="add">
      						<desc>Charlot</desc>
      					</valItem>
      					<valItem ident="pascal" mode="add">
      						<desc>Pascal</desc>
      					</valItem>
      				</valList>
      			</attDef>
      		</attList>
      	</elementSpec>
        
      	<!-- placeName: add  @type (list of places from classification) -->
     	<elementSpec ident="placeName" mode="change">
      		<attList>
      			<attDef ident="type" mode="change">
      				<valList type="closed" mode="change">
      					<valItem ident="afrique" mode="add">
      						<desc>Afrique</desc>
      					</valItem>
      					<valItem ident="amérique" mode="add">
      						<desc>Amérique</desc>
      					</valItem>
      					<valItem ident="asie" mode="add">
      						<desc>Asie</desc>
      					</valItem>
      					<valItem ident="europe" mode="add">
      						<desc>Europe</desc>
      					</valItem>
      					<valItem ident="france" mode="add">
      						<desc>France</desc>
      					</valItem>
      					<valItem ident="océanie" mode="add">
      						<desc>Océanie</desc>
      					</valItem>

      				</valList>
      			</attDef>      			
      		</attList>
      	</elementSpec>

      	<!-- Customize span @ana to reference thematic components of the book -->
<!--        <elementSpec ident="span" mode="change">
          <attList>
            <attDef ident="ana" mode="change">             
              <valList type="closed" mode="change">
                <valItem ident="manière_de_table" mode="add">
                  <desc xml:lang="fr">Manière de table</desc>
                </valItem>
                <valItem ident="nutrition" mode="add">
                  <desc xml:lang="fr">Nutrition</desc>
                </valItem>
                <valItem ident="plat" mode="add">
                  <desc xml:lang="fr">Plat</desc>
                </valItem>
                <valItem ident="produit">
                  <desc xml:lang="fr">Produit</desc>
                </valItem>
                <valItem ident="recette">
                  <desc xml:lang="fr">Recette</desc>
                </valItem>
                <valItem ident="repas">
                  <desc>Repas</desc>
                </valItem>
                <valItem ident="sens" mode="add">
                  <desc xml:lang="fr">Sens</desc>
                </valItem> 
                <valItem ident="technique" mode="add">
                  <desc xml:lang="fr">Technique</desc>
                </valItem>              
              </valList>
            </attDef>
          </attList>
        </elementSpec>
-->        
        <!-- Customize FIGURE to include @type illustration or sujets -->
        <elementSpec ident="figure" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="change" type="closed">
                <valItem ident="illustration" mode="add">
                  <desc versionDate="2020-06-07" xml:lang="fr">Illustration</desc>
                </valItem>
                <valItem ident="sujets" mode="add">
                  <desc versionDate="2020-06-07" xml:lang="fr">Sujets</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <!-- Customize LIST @type to distinguish between exercices and questionnaire  -->
        <elementSpec ident="list" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="exercices" mode="add">
                  <desc versionDate="2020-06-02" xml:lang="fr">Exercices</desc>
                </valItem>
                <valItem ident="questionnaire" mode="add">
                  <desc versionDate="2020-06-02" xml:lang="fr">Questionnaire</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>

      </schemaSpec>
    </body>
  </text>
</TEI>
