suzette_custom.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0"
  xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Suzette ODD</title>
        <author>Diane Jakacki</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the TEI Consortium
            (info@tei-c.org).</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <head>TEI Complete</head>
      <p>This TEI customization describes a schema that includes <emph>all</emph> of the TEI (P5)
        modules. This is a very useful starting place for manually creating your own customizations
        — it is much easier to delete the modules you do not want than to add the modules you do.
        Furthermore this customization often proves helpful for testing TEI software.</p>
      <p>However, this particular TEI customization is <emph>not recommended</emph> for actual use
        for encoding documents. It produces schemas and reference documentation that will be much
        larger, and include many more elements, than almost anyone could conceivably ever need.
        Tempting though it may be simply to have absolutely everything, and <q>just ignore</q>
        elements not required, experience has shown that their presence makes the documentation
        harder to read and use, and makes a schema that is far more lax than desired.</p>
      <schemaSpec ident="suzette_custom" start="TEI teiCorpus" targetLang="en" docLang="en">
        <moduleRef key="tei"/>
        <!-- required -->
        <moduleRef key="core" />
        <moduleRef key="analysis" />
        <moduleRef key="certainty" />
        <moduleRef key="corpus" />
        <moduleRef key="dictionaries" />
        <moduleRef key="drama" />
        <moduleRef key="figures" />
        <moduleRef key="header" />
        <moduleRef key="linking"/>
        <moduleRef key="msdescription"/>
        <moduleRef key="namesdates"/>
        <moduleRef key="textcrit" />
        <moduleRef key="textstructure" />
        <moduleRef key="transcr"/>
        <moduleRef key="tagdocs"/>

<!-- Customize DIV1 with @type chapter -->
        <elementSpec ident="div1" mode="change">
          <attList> 
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="chapitre">
                  <desc versionDate="2020-05-06">Chapitre</desc>
                </valItem>
                <valItem mode="add" ident="autre">
                  <desc versionDate="2020-05-06">Autre (if used often, add another
                    value)</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
<!-- Customize DIV2 to distinguish three kinds of content: Récit, Questionnaire, and Exercices -->        
        <elementSpec ident="div2" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="exercices" mode="add">
                  <desc versionDate="2020-06-06" xml:lang="fr">Exercices</desc>
                </valItem>
                <valItem mode="add" ident="questionnaire">
                  <desc versionDate="2020-06-06" xml:lang="fr">Questionnaire</desc>
                </valItem>
                <valItem mode="add" ident="récit">
                  <desc versionDate="2020-06-06" xml:lang="fr">Récit</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        

<!-- div3 is always sujets, so doesn't need to be clarified here. Use the attributes wisely. -->

<!-- Customize DIV3 by adding categories as attributees 
        <classSpec type="atts" ident="att.typed" module="tei" mode="change">
          <attList>
            <attDef ident="morale" mode="change"/>
            <attDef ident="instruction_civique" mode="change"/>
            <attDef ident="civilité" mode="change"/>
            <attDef ident="français" mode="change"/>
            <attDef ident="composition" mode="change"/>
            <attDef ident="histoire" mode="change"/>
            <attDef ident="géographie" mode="change"/>
            <attDef ident="sciences_naturelles" mode="change"/>
            <attDef ident="sciences_physiques" mode="change"/>
            <attDef ident="industrie" mode="change"/>
            <attDef ident="économie_domestique" mode="change"/>
            <attDef ident="hygiène" mode="change"/>
          </attList>
        </classSpec>-->
        
<!-- Customize DIV3 - added values for each of the categories     
        <elementSpec ident="div3" mode="change" module="core">
          <attList>
            <attDef ident="morale" mode="change">
              <valList mode="add" type="semi">
                <valItem ident="enfant_famille">
                  <desc>L'enfant dans la famille</desc>
                </valItem>
                <valItem ident="fréres_soeurs">
                  <desc>Devoirs des frères et soeurs</desc>
                </valItem>
                <valItem ident="envers_serviteurs">
                  <desc>Devoirs envers les serviteurs</desc>
                </valItem>
                <valItem ident="enfant_école">
                  <desc>L'enfant dans l'école</desc>
                </valItem>
                <valItem ident="patrie">
                  <desc>Patrie</desc>
                </valItem>
                <valItem ident="envers_soi-même">
                  <desc>Devoirs envers soi-même</desc>
                </valItem>
                <valItem ident="extérieurs">
                  <desc>Les biens extérieurs</desc>
                </valItem>
                <valItem ident="âme">
                  <desc>L'âme</desc>
                </valItem>
                <valItem ident="envers_semblables">
                  <desc>Devoirs envers nos semblables</desc>
                </valItem>
                <valItem ident="envers_dieu">
                  <desc>Devoirs envers Dieu</desc>
                </valItem>
                <valItem ident="complexe">
                  <desc>Complexe</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="instruction_civique" mode="change">
              <valList mode="add" type="semi">
                <valItem ident="generale">
                  <desc>Generale</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="civilité" mode="change">
              <valList mode="add" type="semi">
                <valItem ident="generale">
                  <desc>Generale</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="français" mode="change">
              <valList mode="add" type="semi">
                <valItem ident="generale">
                  <desc>Generale</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="composition" mode="change">
              <valList mode="add" type="semi">
                <valItem ident="récit">
                  <desc>Récit</desc>
                </valItem>
                <valItem ident="récits_historiques">
                  <desc>Récits historiques</desc>
                </valItem>
                <valItem ident="descriptions">
                  <desc>Descriptions</desc>
                </valItem>
                <valItem ident="sujets-moraux_imagination">
                  <desc>Sujets-moraux ou d'imagination</desc>
                </valItem>
                <valItem ident="Sujets-moraux ou d'imagination">
                  <desc>Lettres</desc>
                </valItem>
                <valItem ident="complexe">
                  <desc>Complexe</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="histoire" mode="change">
              <valList mode="add" type="semi">
                <valItem ident="generale">
                  <desc>Generale</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="géographie" mode="change">
              <valList mode="add" type="semi">
                <valItem ident="generale">
                  <desc>Generale</desc>
                </valItem>
                <valItem ident="europe">
                  <desc>Europe</desc>
                </valItem>
                <valItem ident="asie">
                  <desc>Asie</desc>
                </valItem>
                <valItem ident="afrique">
                  <desc>Afrique</desc>
                </valItem>
                <valItem ident="amérique">
                  <desc>Amérique</desc>
                </valItem>
                <valItem ident="océanie">
                  <desc>Océeanie</desc>
                </valItem>
                <valItem ident="france">
                  <desc>France</desc>
                </valItem>
                <valItem ident="complexe">
                  <desc>Complexe</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="sciences_naturelles" mode="change">
              <valList mode="add" type="semi">
                <valItem ident="mineraux">
                  <desc>Minéraux, etc.</desc>
                </valItem>
                <valItem ident="végétaux">
                  <desc>Végétaux</desc>
                </valItem>
                <valItem ident="animaux">
                  <desc>Animaux</desc>
                </valItem> 
                <valItem ident="complexe">
                  <desc>Complexe</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="sciences_physiques" mode="change">
              <valList mode="add" type="semi">
                <valItem ident="generale">
                  <desc>Generale</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="industrie" mode="change">
              <valList mode="add" type="semi">
                <valItem ident="matières_objets_fabriqués">
                  <desc>Matières et objets fabriqués</desc>
                </valItem>
                <valItem ident="construction">
                  <desc>Construction</desc>
                </valItem>
                <valItem ident="machines_appareils">
                  <desc>Machines, appareils, ustensiles, vases</desc>
                </valItem>
                <valItem ident="outils">
                  <desc>Outils</desc>
                </valItem>
                <valItem ident="etoffes_habillement">
                  <desc>Étoffes, habillement</desc>
                </valItem>
                <valItem ident="divers_industrie">
                  <desc>Divers</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="économie_domestique" mode="change">
              <valList mode="add" type="semi">
                <valItem ident="generale">
                  <desc>Generale</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="hygiène" mode="change">
              <valList mode="add" type="semi">
                <valItem ident="corps_habitations">
                  <desc>Corps et habitations</desc>
                </valItem>
                <valItem ident="vêtements_hygiene">
                  <desc>Vêtements</desc>
                </valItem>
                <valItem ident="aliments">
                  <desc>Aliments</desc>
                </valItem>
                <valItem ident="maladies_remèdes">
                  <desc>Maladies, etc.; remèdes</desc>
                </valItem>
                <valItem ident="complexe">
                  <desc>Complexe</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>-->
        
        
<!-- Customize DIV3 @type to provide science_nat further category 
        <elementSpec ident="div3" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="arbres_non_cultivés">
                  <desc>1° Arbres Non Cultivés</desc>
                </valItem>
                <valItem ident="herbes_plantes_sauvages">
                  <desc>2° Herbes ou Plantes Sauvages</desc>
                </valItem>
                <valItem ident="arbres_cultivés">
                  <desc>3° Arbres Cultivés</desc>
                </valItem>
                <valItem ident="arbustes_cultivés">
                  <desc>4° Arbustes Cultivés</desc>
                </valItem>
                <valItem ident="céréales">
                  <desc>5° Céréales</desc>
                </valItem>
                <valItem ident="legumes_racines">
                  <desc>6° Légumes, Racines, etc.</desc>
                </valItem>
                <valItem ident="divers">
                  <desc>7° Divers</desc>
                </valItem>
                <valItem ident="homme">
                  <desc>1° L'Homme</desc>
                </valItem>
                <valItem ident="animaux_domestiques">
                  <desc>2° Animaux Domestiques</desc>
                </valItem>
                <valItem ident="animaux_sauvages">
                  <desc>3° Animaux Sauvages</desc>
                </valItem>
              </valList>
              
            </attDef>
          </attList>
        </elementSpec>-->

        <!-- Within DIV4 cutomize @type to distinguish questions and réponses -->
        <elementSpec ident="div4" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="questions" mode="add">
                  <desc versionDate="2020-06-02" xml:lang="fr">Questions</desc>
                </valItem>
                <valItem ident="réponses" mode="add">
                  <desc versionDate="2020-06-02" xml:lang="fr">Réponses</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>


<!-- Customize FIGURE to include @type illustration or sujets -->
        <elementSpec ident="figure" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="change" type="closed">
                <valItem ident="illustration" mode="add">
                  <desc versionDate="2020-06-07" xml:lang="fr">Illustration</desc>
                </valItem>
                <valItem ident="sujets" mode="add">
                  <desc versionDate="2020-06-07" xml:lang="fr">Sujets</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>

        <!-- Customize LIST @type to distinguish between exercices and questionnaire  -->
        <elementSpec ident="list" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="exercices" mode="add">
                  <desc versionDate="2020-06-02" xml:lang="fr">Exercices</desc>
                </valItem>
                <valItem ident="questionnaire" mode="add">
                  <desc versionDate="2020-06-02" xml:lang="fr">Questionnaire</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
      </schemaSpec>
      
<!-- Custom term to align with the Classification via @ana -->        
        <elementSpec ident="term" mode="change">
          <attList>
            <attDef mode="change" ident="corresp">
              <valList mode="change" type="closed">
                <valItem mode="add" ident="âme">
                  <desc>L'âme</desc>
                </valItem>
                <valItem mode="add" ident="enfant_école">
                  <desc>L'enfant dans école</desc>
                </valItem>
                <valItem ident="enfant_famille" mode="add">
                  <desc>L'enfant dans la famille</desc>
                </valItem>
                <valItem ident="envers_dieu" mode="add">
                  <desc>Devoirs envers Dieu</desc>
                </valItem>
                <valItem ident="envers_semblables">
                  <desc>Devoirs envers nos semblables</desc>
                </valItem>
                <valItem ident="envers_serviteur" mode="add">
                  <desc>Devoirs envers les serviteurs</desc>
                </valItem>
                <valItem ident="envers_soi-même" mode="add">
                  <desc>Devoirs envers soi-même</desc>
                </valItem>                
                <valItem ident="extérieurs" mode="add">
                  <desc>Les biens extérieurs</desc>
                </valItem>
                <valItem ident="fréres_soeurs" mode="add">
                  <desc>Devoirs des frères et soeurs</desc>
                </valItem>
                <valItem ident="La patrie" mode="add">
                  <desc>La patrie</desc>
                </valItem>
                <valItem ident="instruction_civique" mode="add">
                  <desc>Instruction civique</desc>
                </valItem>
                <valItem ident="civilité" mode="add">
                  <desc>Civilité</desc>
                </valItem>
                <valItem ident="français" mode="add">
                  <desc>Français</desc>
                </valItem>
                <valItem ident="descriptions" mode="add">
                  <desc>Descriptions</desc>
                </valItem>
                <valItem ident="lettres" mode="add">
                  <desc>Lettres</desc>
                </valItem>
                <valItem ident="récits" mode="add">
                  <desc>Récits</desc>
                </valItem>
                <valItem ident="récits_historiques" mode="add">
                  <desc>Récits historiques</desc>
                </valItem>
                <valItem ident="sujets-moraux_imagination" mode="add">
                  <desc>Sujets-moraux ou d'imagination</desc>
                </valItem>
                <valItem ident="histoire" mode="add">
                  <desc>Histoire</desc>
                </valItem>
                <valItem ident="afrique" mode="add">
                  <desc>Afrique</desc>
                </valItem>
                <valItem ident="amérique" mode="add">
                  <desc>Amérique</desc>
                </valItem>
                <valItem ident="asie" mode="add">
                  <desc>Asie</desc>
                </valItem>
                <valItem ident="europe" mode="add">
                  <desc>Europe</desc>
                </valItem>
                <valItem ident="france" mode="add">
                  <desc>France</desc>
                </valItem>
                <valItem ident="géographie" mode="add">
                  <desc>Géographie</desc>
                </valItem>
                <valItem ident="océanie" mode="add">
                  <desc>Océanie</desc>
                </valItem>
                <valItem ident="minéraux" mode="add">
                  <desc>Minéraux</desc>
                </valItem>
                <valItem ident="sciences_naturelles" mode="add">
                  <desc>Sciences Naturelles</desc>
                </valItem>
                <valItem ident="végétaux" mode="add">
                  <desc>Végétaux</desc>
                </valItem>
                <valItem ident="arbres_non_cultivés" mode="add">
                  <desc>1° Arbres Non Cultivés</desc>
                </valItem>
                <valItem ident="herbes_plantes_sauvages" mode="add">
                  <desc>2° Herbes ou Plantes Sauvages</desc>
                </valItem>
                <valItem ident="arbres_cultivés" mode="add">
                  <desc>3° Arbres Cultivés</desc>
                </valItem>
                <valItem ident="arbustes_cultivés" mode="add">
                  <desc>4° Arbustes Cultivés</desc>
                </valItem>
                <valItem ident="céréales" mode="add">
                  <desc>5° Céréales</desc>
                </valItem>
                <valItem ident="legumes_racines" mode="add">
                  <desc>6° Légumes, Racines, etc.</desc>
                </valItem>
                <valItem ident="divers_végétaux" mode="add">
                  <desc>7° Divers (Vegetaux)</desc>
                </valItem>
                <valItem ident="homme" mode="add">
                  <desc>1° L'Homme</desc>
                </valItem>
                <valItem ident="animaux_domestiques" mode="add">
                  <desc>2° Animaux Domestiques</desc>
                </valItem>
                <valItem ident="animaux_sauvages" mode="add">
                  <desc>3° Animaux Sauvages</desc>
                </valItem>
                <valItem ident="sciences_physiques" mode="add">
                  <desc>Notions Relatives aux Sciences Physiques</desc>
                </valItem>
                <valItem ident="matières_objets_fabriques" mode="add">
                  <desc>Matières et objets fabriqués</desc>
                </valItem>
                <valItem ident="construction">
                  <desc>Construction</desc>
                </valItem>
                <valItem ident="machines_appareils" mode="add">
                  <desc>Machines, appareils, ustensiles, vases</desc>
                </valItem>
                <valItem ident="outils">
                  <desc>Outils</desc>
                </valItem>
                <valItem ident="etoffes_habillement" mode="add">
                  <desc>Étoffes, habillement</desc>
                </valItem>
                <valItem ident="divers_industrie" mode="add">
                  <desc>Divers (Industrie)</desc>
                </valItem>
                <valItem ident="économie_domestique">
                  <desc>Économie Domestique</desc>
                </valItem>
                <valItem ident="aliments_cuisine">
                  <desc>Aliments et cuisine</desc>
                </valItem>
                <valItem ident="vêtements_domestiques" mode="add">
                  <desc>Vêtements</desc>
                </valItem>
                <valItem ident="basse-cour" mode="add">
                  <desc>Basse-cour</desc>
                </valItem>
                <valItem ident="corps_habitations" mode="add">
                  <desc>Corps et habitations</desc>
                </valItem>
                <valItem ident="vêtements_hygiene" mode="add">
                  <desc>Vêtements (Hygiene)</desc>
                </valItem>
                <valItem ident="aliments" mode="add">
                  <desc>Aliments</desc>
                </valItem>
                <valItem ident="maladies_remèdes" mode="add">
                  <desc>Maladies, etc.; remèdes</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
          </elementSpec>

    </body>
  </text>
</TEI>
