Enfance/enfance.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Suzette - L'Enfance Schema</title>
        <author>Diane Jakacki</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <p>TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally
            appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further
            information or clarification, please contact the TEI Consortium (info@tei-c.org).</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <head>TEI Complete</head>
      <p>This TEI customization describes a schema that includes <emph>all</emph> of the TEI P5 modules. This is a very useful starting place for manually creating your own customizations — it is much
        easier to delete the modules you do not want than to add the modules you do. Furthermore this customization often proves helpful for testing TEI software.</p>
      <p>However, this particular TEI customization is <emph>not recommended</emph> for actual use for encoding documents. It produces schemas and reference documentation that will be much larger and
        include many more elements than almost anyone could conceivably ever need. Tempting though it may be simply to have absolutely everything, and <q>just ignore</q> elements not required,
        experience has shown that their presence makes the documentation harder to read and use, and makes a schema that is far more lax than desired.</p>
      <p>The <att>n</att> attribute of each <gi>moduleRef</gi> below reflects the chapter number of the TEI <title>Guidelines</title> in which the module being referenced is defined. Note that the
        modules are generally referred to in the order defined, with the exception that the module for <title level="a">Simple Analytic Mechanisms</title> is referred to before the module for <title
          level="a">Dictionaries</title>. This is because the class <name type="class">att.lexicographic.normalized</name> (which is defined in <name type="module">analysis</name>) needs to be
        specified before the class <name type="class">att.lexicographic</name> (which is defined in <name type="module">dictionaries</name>).</p>
      <p>The first four modules are often called the <soCalled>required</soCalled> modules. However, these modules are not themselves technically required to create a TEI conformant markup language
        (let alone a useful non-TEI conformant markup language). Rather, they each contain one or more <emph>elements</emph> which are required for TEI conformance.</p>
      <schemaSpec ident="tei_all" start="TEI teiCorpus" targetLang="en" docLang="en">
        <moduleRef n="01" key="tei" />
        <moduleRef n="02" key="header" except="abstract appInfo application cRefPattern citeData citeStructure conversion creation hyphenation interpretation normalization prefixDef punctuation
          scriptNote" />
        <moduleRef n="03" key="core" except="abbr add binaryObject choice cit citedRange distinct gb imprint media mentioned milestone monogr postBox postCode rb reg rt ruby sic soCalled sp speaker
          stage unclear" />
        <moduleRef n="04" key="textstructure" except="argument imprimatur postscript trailer" />
        <moduleRef n="05" key="gaiji" except="localProp mapping" />
        <moduleRef n="07" key="drama" except="actor camera castGroup castItem castList move performance set sound tech view" />
        <moduleRef n="08" key="spoken" except="broadcast equipment kinesic pause recording recordingStmt scriptStmt shift u vocal writing" />
        <moduleRef n="17" key="analysis" except="c cl m pc phr s" />
        <moduleRef n="09" key="dictionaries" except="case colloc def dictScrap etym gram gramGrp hom hyph iType lbl mood oRef orth pRef per pos pron sense stress subc superEntry syll tns usg xr" />
        <moduleRef n="10" key="msdescription" except="accMat acquisition additional additions altIdentifier binding bindingDesc collation condition custEvent custodialHist decoDesc decoNote depth dim
          dimensions explicit filiation finalRubric foliation height heraldry history incipit layout layoutDesc locus locusGrp material physDesc provenance recordHist repository rubric scriptDesc seal
          sealDesc secFol stamp summary support supportDesc surrogates watermark width" />
        <moduleRef n="11" key="transcr" except="am handShift line metamark mod path redo restore retrace secl space subst substJoin surface surfaceGrp surplus transpose undo zone" />
        <moduleRef n="12" key="textcrit" except="app lacunaEnd lacunaStart variantEncoding wit witDetail witEnd witStart witness" />
        <moduleRef n="13" key="namesdates" except="climate" />
        <moduleRef n="14" key="figures" except="formula notatedMusic row table" />
        <moduleRef n="15" key="corpus" except="activity channel constitution derivation factuality interaction preparedness purpose setting settingDesc" />
        <moduleRef n="16" key="linking" except="alt altGrp join joinGrp" />
        <moduleRef n="18" key="iso-fs" except="bicond binary cond default f fDecl fDescr fLib if iff then" />
        <moduleRef n="19" key="nets" except="arc eTree forest graph iNode leaf listForest node root tree triangle" />
        <moduleRef n="21" key="certainty" except="precision" />
        <moduleRef n="22" key="tagdocs" except="altIdent alternate att attDef attList attRef constraint constraintSpec dataFacet dataRef dataSpec datatype defaultVal empty equiv exemplum memberOf
          outputRendition remarks val" />
        <elementSpec ident="term" mode="change">
          <attList>
            <attDef ident="ana" mode="change">
              <valList mode="change" type="closed">
                <valItem mode="add" ident="grammaire">
                  <desc>Grammaire</desc>
                </valItem>
                <valItem mode="add" ident="histoire_naturelle">
                  <desc>Histoire naturelle</desc>
                </valItem>
                <valItem mode="add" ident="connaissances_usuelles">
                  <desc>Connaissance usuelles</desc>
                </valItem>
                <valItem mode="add" ident="histoire">
                  <desc>Histoire</desc>
                </valItem>
                <valItem ident="menage" mode="add">
                  <desc>Menage</desc>
                </valItem>
                <valItem ident="hygiène" mode="add">
                  <desc>Hygiène</desc>
                </valItem>
                <valItem ident="français" mode="add">
                  <desc>Français</desc>
                </valItem>
                <valItem ident="arithmétique" mode="add">
                  <desc>Arithmétique</desc>
                </valItem>
                <valItem ident="industrie" mode="add">
                  <desc>Industrie</desc>
                </valItem>
                <valItem ident="géographie" mode="add">
                  <desc>Géographie</desc>
                </valItem>
                <valItem ident="instruction_civique" mode="add">
                  <desc>Instruction civique</desc>
                </valItem>
                <valItem ident="cosmographie" mode="add">
                  <desc>Cosmographie</desc>
                </valItem>
                <valItem ident="soins_à_donner_aux_malades" mode="add">
                  <desc>Soins à donner aux malades</desc>
                </valItem>
                <valItem ident="morale" mode="add">
                  <desc>Morale</desc>
                </valItem>
                <valItem ident="sciences_naturelles" mode="add">
                  <desc>Sciences naturelles</desc>
                </valItem>
                <valItem ident="commerce" mode="add">
                  <desc>Commerce</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="placeName" mode="change">
          <attList>
            <attDef ident="ana" mode="change">
              <valList mode="change" type="closed">
                <valItem ident="europe" mode="add">
                  <desc>Europe</desc>
                </valItem>
                <valItem ident="amérique_nord" mode="add">
                  <desc>Amérique du nord</desc>
                </valItem>
                <valItem ident="amérique_sud" mode="add">
                  <desc>Amérique du sud</desc>
                </valItem>
                <valItem ident="afrique" mode="add">
                  <desc>Afrique</desc>
                </valItem>
                <valItem ident="chine" mode="add">
                  <desc>Chine</desc>
                </valItem>
                <valItem ident="asie" mode="add">
                  <desc>Asie</desc>
                </valItem>
                <valItem ident="france" mode="add">
                  <desc>France</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="objectName" mode="change">
          <attList>
            <attDef ident="ana" mode="change">
              <valList mode="change" type="closed">
                <valItem mode="add" ident="grammaire">
                  <desc>Grammaire</desc>
                </valItem>
                <valItem mode="add" ident="histoire_naturelle">
                  <desc>Histoire naturelle</desc>
                </valItem>
                <valItem mode="add" ident="connaissances_usuelles">
                  <desc>Connaissance usuelles</desc>
                </valItem>
                <valItem mode="add" ident="histoire">
                  <desc>Histoire</desc>
                </valItem>
                <valItem ident="menage" mode="add">
                  <desc>Menage</desc>
                </valItem>
                <valItem ident="hygiène" mode="add">
                  <desc>Hygiène</desc>
                </valItem>
                <valItem ident="français" mode="add">
                  <desc>Français</desc>
                </valItem>
                <valItem ident="arithmétique" mode="add">
                  <desc>Arithmétique</desc>
                </valItem>
                <valItem ident="industrie" mode="add">
                  <desc>Industrie</desc>
                </valItem>
                <valItem ident="géographie" mode="add">
                  <desc>Géographie</desc>
                </valItem>
                <valItem ident="instruction_civique" mode="add">
                  <desc>Instruction civique</desc>
                </valItem>
                <valItem ident="cosmographie" mode="add">
                  <desc>Cosmographie</desc>
                </valItem>
                <valItem ident="soins_à_donner_aux_malades" mode="add">
                  <desc>Soins à donner aux malades</desc>
                </valItem>
                <valItem ident="morale" mode="add">
                  <desc>Morale</desc>
                </valItem>
                <valItem ident="sciences_naturelles" mode="add">
                  <desc>Sciences naturelles</desc>
                </valItem>
                <valItem ident="commerce" mode="add">
                  <desc>Commerce</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="persName" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="historique" mode="add">
                  <desc xml:lang="fr">historique</desc>
                </valItem>
                <valItem ident="fictif" mode="add">
                  <desc xml:lang="fr">fictif</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="key" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="suzette" mode="add">
                  <desc>Suzette</desc>
                </valItem>
                <valItem ident="jacques" mode="add">
                  <desc>Jacques</desc>
                </valItem>
                <valItem ident="françois" mode="add">
                  <desc>François</desc>
                </valItem>
                <valItem ident="m_dumay" mode="add">
                  <desc>M Denis Dumay</desc>
                </valItem>
                <valItem ident="mme_dumay" mode="add">
                  <desc>Mme Dumay</desc>
                </valItem>
                <valItem ident="charlot" mode="add">
                  <desc>Charlot</desc>
                </valItem>
                <valItem ident="mme_delorme" mode="add">
                  <desc>Mme Delorme</desc>
                </valItem>
                <valItem ident="m_delorme" mode="add">
                  <desc>M Delorme</desc>
                </valItem>
                <valItem ident="castor" mode="add">
                  <desc>Castor</desc>
                </valItem>
                <valItem ident="grise" mode="add">
                  <desc>La Grise</desc>
                </valItem>
                <valItem ident="benoît" mode="add">
                  <desc>Benoît</desc>
                </valItem>
                <valItem ident="ludivine" mode="add">
                  <desc>Ludivine</desc>
                </valItem>
                <valItem ident="vincent" mode="add">
                  <desc>Vincent</desc>
                </valItem>
                <valItem ident="lisa" mode="add">
                  <desc>Lisa</desc>
                </valItem>
                <valItem ident="zélie" mode="add">
                  <desc>Zélie</desc>
                </valItem>
                <valItem ident="marcelline" mode="add">
                  <desc>Marcelline</desc>
                </valItem>
                <valItem ident="ernestine" mode="add">
                  <desc>Ernestine</desc>
                </valItem>
                <valItem ident="antonin" mode="add">
                  <desc>Antonin</desc>
                </valItem>
                <valItem ident="m_adrien" mode="add">
                  <desc>M Adrien</desc>
                </valItem>
                <valItem ident="m_garnier" mode="add">
                  <desc>M Garnier</desc>
                </valItem>
                <valItem ident="rose" mode="add">
                  <desc>Rose</desc>
                </valItem>
                <valItem ident="l_hôtesse" mode="add">
                  <desc>l’hôtesse</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
